.shift-right {
    padding-right:  15px !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold!important;

}

div a.active, ul li.active{
    font-weight: bold!important;
    font-style: italic!important;
    font-size: larger  !important;
    color: rgb(8, 76, 223)!important;
}